{{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> --}}
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>


<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">Account Management</div>
      <ul class="list-group">
        <li class="list-group-item">Username: {{userName}}</li>
        <li class="list-group-item">Email: {{email}}</li>
      </ul>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">Saved Hotels</div>
      <ul class="list-group">
      {{#each bookmarks}}
        <li class="list-group-item">Hotel Name: {{name}}</li>
        <li class="list-group-item">Rating: {{rating}}</li>
        <li class="list-group-item">City: {{city}}</li>
        <button class='delete-hotel btn btn-default' value={{id}}>x</button>
      {{/each}}    
      </ul>
    </div>
  </div> 
  <div class="panel panel-default">
    <div class="panel-heading">Saved Searches</div>
      <ul class="list-group">
        {{#each searches}}
        <li class="list-group-item">Searched City: {{city}}</li>
        <li class="list-group-item">Start Date: {{startDate}}</li>
        <li class="list-group-item">End Date: {{endDate}}</li>
        <button class='delete-search btn btn-default' value={{id}}>x</button>
        {{/each}}
      </ul>
    </div>
  </div> 
</div>


<script src="../../assets/js/hotel.js" type="text/javascript"></script>
<script src="../../assets/js/view.js" type="text/javascript"></script>